.container{
    max-width: 1000px;
    .eclipse-prev{
        left: 15px;
        position: absolute;
        outline:none;
    }
    .carousel_wrapper{
        overflow:hidden;
    }
    .eclipse-next{
        right: 15px;
        position: absolute;
        outline:none;
    }
    .eclipse-arrow{
        background: url(../image/arrow.png) 0 0 no-repeat;
    }
    .eclipse-controls{
        display: none;
    }
    .movie_description{
        position: absolute;
        bottom: 0;
        text-align: center;
        display: block;
        width:100%;
        color:#fff;
        background-color: rgba(51,51,51,0.8);
    }
    .block_wrapper{
        .movie_meta{
            .movie_title_2{
                padding-top: 5px;
            }
            .movie_title_chap{
                line-height: 30px;
            }
        }
    }
    .des_wrap{
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        display: block;
    }
    .trailer_content{
        width: 100%;
        height:500px;
        overflow: hidden;
        overflow-y: auto;
        .padding_row{
            padding:15px 0 15px;
            &:after{
                content:"";
                width:90%; 
                border-bottom: 1px solid #ccc;
                height:10px;
                margin:auto;
            }
            &:last-child{
                &:after{
                    width:0; 
                }
            }
        }
    }
}
.menu_wrapper{
    border-top:2px solid #fff;
    .container{
        .content{
            display: none;
            position: fixed;
            max-width: 55%;
            z-index: 100;
            background-color: #000;
            .nav{
                li{
                    a{
                        font-size: 11px;
                    }
                }
            }
        }
        .text_up_case{
            text-transform: uppercase;
            li{
                text-transform: uppercase;
                font-weight: bold;
                font-size:18px;
                font-family:Ario;
                a{
                    font-size: 14px;
                }
            }
        }
    }
}

