@charset "utf-8";

.eclipse-wrapper {position: relative;}
.eclipse-wrapper button {border: none; -webkit-appearance: none; appearance: none; cursor: pointer;}

.eclipse-hide {display: none !important;}

.eclipse-slider {transition: all 500ms;}
.eclipse-slides {height: 300px; border-radius: 15px; background: #d3d5f5; font-size: 50px; line-height: 300px; text-align: center; color: #000000; z-index: 1;}
.eclipse-slides img {max-width: 100%;}
.eclipse-active {z-index: 10;}

.eclipse-clone {z-index: 0 !important;}

.eclipse-arrow {display: block; position: absolute; top: 50%; z-index: 11; width: 21px; height: 35px; margin: -18px 0 0; background: url(images/320x500.png) 0 0 no-repeat; text-indent: -9999em; border: none; -webkit-appearance: none; appearance: none; cursor: pointer;}
.eclipse-arrow.eclipse-prev {left: -50px; transform: rotate(180deg);}
.eclipse-arrow.eclipse-next {right: -50px;}

.eclipse-controls {position: absolute; left: 50%; bottom: 30px; z-index: 11; line-height: 0; transform: translateX(-50%);}

.eclipse-paging {float: left;}
.eclipse-paging-button {width: 15px; height: 15px; margin: 0 0 0 10px; background: #8389e0; border-radius: 50%; text-indent: -9999em;}
.eclipse-paging-button:first-child {margin-left: 0;}
.eclipse-paging-active {background: #000000;}

.eclipse-auto-play {display: block; float: left; width: 25px; height: 25px; margin: 0 0 0 10px; background: url(images/play.png) 0 0 no-repeat; text-indent: -9999em;}
.eclipse-auto-stop {display: block; float: left; width: 25px; height: 25px; margin: 0 0 0 10px; background: url(images/stop.png) 0 0 no-repeat; text-indent: -9999em;}